<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
            <h1>String Reults</h1>
            <p>
            {{  result  }}
            </p>

    </div>
</body>
</html>
